<form class="search-form" id="js-search-form">
  <input 
    size="36"  
    type="text" 
    name="query"
    id="searchQuery" 
    autocomplete="off" 
    placeholder="Search images..." 
  />
</form>

<ul class="gallery" id="js-gallery">
  <!-- Список <li> с карточками изображений -->
</ul>

<button 
  class="load-button is-hidden"
  type="button" 
  data-action="load-more">
  Load more
</button>

<a href="https://pixabay.com/" target="_blank">
  <img src="https://pixabay.com/static/img/public/leaderboard_a.png" alt="Pixabay">
</a>